################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/unity-client/client-master/client-master/Unity/CE601 Project/Chicken Mini-Game/.vs/Chicken Mini-Game/v16/Server/sqlite3/db.lock
*.vsidx
unity-client/client-master/client-master/Unity/CE601 Project/Chicken Mini-Game/.vs/Chicken Mini-Game/v17/.suo
